body {
    background-color: #b1cf94;
    font-family: Verdana;
    text-align: center;
    font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }